.Input {
  width: 100%;
  label {
    .label-text {
      width: 100%;
      height: 1rem;
      white-space: nowrap;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 700;
      display: block;
    }
    input {
      width: 100%;
      padding: 0.65rem 0.5rem;
      font-size: 1rem;
      border: 1px solid #4a5568;
      background-color: #a9b1be;
      outline: none;
      &:focus {
        border-color: #4299e1;
      }
      &:placeholder {
        color: #a0aec0;
      }
    }

    .error-t {
      color: #fc8181;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin-top: 0.25rem;
      display: block;
    }
    .success-t {
      color: #00c251;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin-top: 0.25rem;
      display: block;
    }
  }
  &.input-error {
    input {
      border-color: #fc8181;
    }
  }
}
