form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

.todoimg {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: -75px;
  margin-left: 30px;
}

.eurh1 {
  position: absolute;
  left: 260px;
  top: 22px;
  width: 1.5rem;
  display: inline-block;
}

.usdh1 {
  width: 244px;
}

.loading {
  display: flex;
  margin-top: -30px;
  margin-left: 165px;
}